* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  line-height: 25px;
  color: #000;
}
body {
  background: #AEDBCE;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 0 auto;
}